<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home - Backend</title>
	<style>
		body {
			background-color: cadetblue;
		}

		nav {
			font-family: sans-serif;
			padding: 1rem;
		}

		nav ol {
			list-style-type: none;
			padding: 0;
		}

		nav li {
			margin-bottom: 0.5rem;
			padding: 0.5em;
		}

		nav a {
			text-decoration: none;
			color: #2c3e50;
		}

		nav a:hover {
			color: #2980b9;
		}
	</style>
</head>

<body>
	<nav>
		<ol>
			<li style="background-color: greenyellow; width: max-content; "><a href="/admin/">Login</a></li>
			<li style="background-color: red; width: max-content; "><a href="/admin/">Admin</a></li>
			<h2>API (Rest UI)</h2>
			<li style="background-color: antiquewhite; width: max-content; "><a href="/account/">Account</a></li>
			<li style="background-color: antiquewhite; width: max-content; "><a href="/booking/">Booking</a></li>
			<h2>Swagger</h2>
			<!--<li style="background-color: limegreen; width: max-content; "><a href="/swagger.json">Swagger JSON</a></li>-->
			<!--<li style="background-color: limegreen; width: max-content; "><a href="/swagger.yaml">Swagger YAML</a></li>-->
			<li style="background-color: limegreen; width: max-content; "><a href="/swagger/">Swagger UI</a></li>
			<h2>Other UI</h2>
			<li style="background-color: thistle; width: max-content; "><a href="/redoc/">Redoc</a></li>
		</ol>
	</nav>
</body>

</html>